# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=company_search

# Server Configuration
PORT=3000
ALLOWED_ORIGINS=https://company-search-beryl.vercel.app

# JWT Secret
JWT_SECRET=SUPER_SECRET_KEY
SUPER_SECRET_KEY=SUPER_SECRET_KEY
